# Prerequisites
*.d

# Object files
*.o
*.obj

# Linker output
*.ilk

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects
*.so
*.so.*
*.dylib

# Executables
*.out
*.app

# Debug files
*.dSYM/

# Caches
.vscode
.DS_Store
.cache
